<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; Jason Sianandar's version of YelpCamp 2021 - Inspired by Colt Steele</span>
    </div>
</footer>