<% layout('layouts/boilerplate')%>
<div class="row">
  <div class="col-9 offset-1">
    <div class="alert alert-danger" role="alert">
      <h3><%= err.message %></h3>
      <h4 class="alert-heading" style="font-weight: bolder">Error Detected!</h4>
      <!-- dont display error during production -->
      <hr />
      <% if (process.env.NODE_ENV !== "production") { %>
      <p><%= err.stack %></p>
      <% } %>
    </div>
  </div>
</div>
